// _fab.scss
// Refined SCSS file for styling the Floating Action Button (FAB)

@use '../mixins/fab' as fabMixins;
@use '../../base/variables' as *;

// Explicitly import the SVG for Vite to handle it during the build
$directions-icon: '/images/directions_alt_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg';

.fab {
  @include fabMixins.fab($fab-size, $fab-bg, $fab-fg);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  box-shadow: var(--elevated-button-shadow);

  svg {
    fill: $fab-fg;
    width: 24px;
    height: 24px;
  }

  &.map-mode {
    background-color: $fab-bg-filter;
    svg {
      content: url(#{$directions-icon});
    }
  }

  &.itinerary-mode {
    background-color: $fab-bg-itinerary;
    i.material-icons::before {
      content: 'add';
    }
  }

  &.explore-mode {
    background-color: $fab-bg-explore;
    i.material-icons::before {
      content: 'explore';
    }
  }

  &.kpop-mode {
    background-color: $fab-bg-kpop;
    i.material-icons::before {
      content: 'queue_music';
    }
  }
}

// Responsive adjustments for smaller screens
@media (max-width: 768px) {
  .fab {
    width: 48px;
    height: 48px;
  }
}

