// _buttons.scss
// SCSS file for styling modal buttons, including action buttons in the bottom app bar

@use '../mixins' as *;
@use '../variables' as *;

@mixin modal-buttons {
  // General button style
  .modal-button,
  .action-item {
    @include button(variables.$primary-color, #fff); // Using primary color for action buttons
    margin: calculate-spacing(0.5);
    padding: $spacing-unit / 2 $spacing-unit;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: lighten(variables.$primary-color, 10%);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}


  