// _slider.scss: Refined SCSS for slider styles

@use "../base/color-palette" as *;
@use "../base/variables" as *;

.zoom-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type='range'] {
    width: 200px;
    height: $slider-track-height;
    background: $slider-track-inactive-color;
    border-radius: 4px;
    appearance: none;

    &::-webkit-slider-runnable-track {
      background: linear-gradient(
        to right,
        $slider-track-active-color 0%,
        $slider-track-active-color var(--slider-percentage),
        $slider-track-inactive-color var(--slider-percentage),
        $slider-track-inactive-color 100%
      );
    }

    &::-webkit-slider-thumb {
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      background: $slider-thumb-color;
      border: 2px solid $primary-color;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}



