@use "sass:color";
@use "../../base/color-palette" as *; // Import color palette for color variables
@use "../../base/variables" as *;

// Mixin for the modal menu button
@mixin modal-menu {
  display: inline-flex;
  align-items: center;
  padding: $spacing-unit / 2;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: 20%);
  }

  &::before {
    margin-right: $spacing-unit / 2;
  }
}

// Mixin for the menu dropdown
@mixin menu-dropdown {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 250px;
  max-height: 300px;
  background: $bottom-app-bar-bg;
  border: 1px solid $primary-color;
  border-radius: 8px;
  padding: $spacing-unit;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: none;

  ul {
    list-style: none;
    margin: 0;

    li {
      padding: $spacing-unit / 2;
      cursor: pointer;
      border-bottom: 1px solid color.adjust($primary-color, $lightness: 20%);

      &:hover {
        background: color.adjust($primary-color, $lightness: 20%);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
