// _slider.scss: Mixins for reusable slider styles

@use "../../base/color-palette" as *;
@use "../../base/variables" as *;

@mixin zoom-slider {
  input[type='range'] {
    width: 150px;
    height: $slider-track-height;
    background: $slider-track-inactive-color;
    border-radius: 3px;

    &::-webkit-slider-thumb {
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      background: $slider-thumb-color;
      border: 2px solid $slider-thumb-border;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}


