@use 'variables';
@use 'mixins';

.popup {
  background: linear-gradient(135deg, variables.$lavender, variables.$light-beige); // Matching gradient from your description
  border-radius: 8px;
  padding: mixins.calculate-spacing(1);

  .popup-header {
    font-size: 1.25rem;
    color: variables.$brown; // Use a consistent color for text that contrasts well
  }

  .popup-buttons {
    display: flex;
    justify-content: space-between;

    button {
      @include mixins.button(variables.$secondary-color, white);
    }
  }
}

// _modal.scss: Adjustments for modal compatibility
.modal-card {
  background: linear-gradient(135deg, $beige-light, $primary-color);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  padding-top: 50px; // Ensures modal does not overlap with navigation bar

  .modal-card-head {
      background-color: $lavender;
      padding: 10px;
      color: $brown;
  }

  .modal-card-body {
      padding: 2rem;
  }

  .modal-card-foot {
      padding: 1rem;
      justify-content: space-between;
  }
}
