@use 'variables';

.navbar {
  background: linear-gradient(135deg, #d0d1cd, variables.$primary-color);
  padding: variables.$spacing-unit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .navbar-brand {
    display: flex;
    align-items: center;

    .material-symbols-outlined {
      font-size: 1.5rem;
      color: white;

      &:hover {
        color: variables.$secondary-color;
      }
    }

    .navbar-burger {
      background: none;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1.5rem;
      margin-left: variables.$spacing-unit;

      &:hover {
        color: variables.$secondary-color;
      }
    }
  }

  .navbar-menu {
    display: none; // Hidden by default on smaller screens
    align-items: center;
    gap: variables.$spacing-unit;

    .navbar-item {
      display: flex;
      align-items: center;
      padding: variables.$spacing-unit * 0.5 variables.$spacing-unit;
      color: white;
      font-weight: bold;

      &:hover {
        color: variables.$secondary-color;
        background-color: rgba(255, 255, 255, 0.1);
      }

      .material-symbols-outlined {
        margin-right: 5px;
        font-size: 1.2rem;
      }
    }

    &.is-active {
      display: flex; // Show when activated (e.g., on burger click)
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: variables.$primary-color;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: variables.$spacing-unit;
    }
  }

  .navbar-buttons {
    display: flex;
    gap: variables.$spacing-unit;

    .button {
      padding: variables.$spacing-unit * 0.5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      border: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: variables.$secondary-color;
      }

      &.is-disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .material-symbols-outlined {
        font-size: 1.5rem;
      }
    }
  }
}


