$primary-color: #8a4d76 !default; // Can still be used for general elements
$secondary-color: #fa7c91 !default;
$brown: #757763 !default;
$beige-light: #d0d1cd !default;
$beige-lighter: #eff0eb !default;
$lavender: #e6e6fa !default; // Add lavender color
$light-beige: #f0e6d1 !default; // Add light beige color for consistency
$font-stack: '"Nunito", sans-serif' !default;
$spacing-unit: 16px !default; // 1 rem equivalent spacing
